.decision-button-accept {
  border-radius: 5px;
  border: none;
  background: #0b8457;
  padding: 8px;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.decision-button-accept:hover {
  background: #096b47;
}
