*{
    box-sizing: border-box;
}

body{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background: whitesmoke;
    
}

.App{
    background: rgb(0, 146, 64);
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(43, 22, 21, .75);
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}