.error-delete-admin {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(43, 43, 43, 0.75);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-delete {
  background: tomato;
  padding: 20px;
  border-radius: 15px;
}

.error-delete h2 {
  color: white;
  text-align: center;
}

.error-delete button {
  width: 100%;
  font-size: 26px;
  border: none;
  border-radius: 15px;
  padding: 10px;
  letter-spacing: 5px;
  font-weight: bold;
  text-transform: uppercase;
  background: white;
}
