footer{
    /* margin-top: 250px; */
    padding: 35px;
    background: #535353;
}
footer p{
    margin: 0;
    padding-bottom: 20px;
    color: white;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_parrafo2, .footer_parrafo4{
    font-weight: bold;
}
