img{
    /* width: 350px; */
}

.section_nosotrosimg{
    background: rgb(0, 146, 64);
}
.section_container{
    margin: 50px;
}
.nosotros_images{
    margin-bottom: 50px;
}

.images_container{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    padding: 10px 25px;
}

.container img{
    width: 350px;
    border-radius: 10px;
    border: 3px solid white;
    transition: all 1s;
    cursor: pointer;
}

.container img:hover{
    transform: scale(1.06);
}

