.card-solicitud {
  min-width: 300px;
  padding: 25px 30px 40px;
  background: rgba(255, 255, 255, 0.9);
  margin-bottom: 40px;
  transition: all 0.2s;
  cursor: pointer;
  width: 400px;
  height: 650px;
  border-radius: 10px;
}

.card-solicitud:hover {
  box-shadow: 0px 0px 10px black;
}

.card-solicitud p {
  font-weight: bold;
  margin: 0;
  padding: 10px 0;
  font-size: 24px;
}

span.data {
  font-size: 20px;
  word-wrap: break-word;
  font-weight: normal;
}

.container-buttons {
  padding: 35px 0;
  display: flex;
  margin-top: 5px;
  justify-content: space-evenly;
}


span.MuiIconButton-label:hover {
  color: rgb(212, 174, 1);
}

span.MuiCheckbox-colorPrimary.Mui-checked{
  color: rgb(212, 174, 1);
}
@media only screen and (min-width: 320px) {
  .card-solicitud {
    width: 300px;
    height: 650px;
  }

  .container-buttons {
    margin-top: 5px;
    padding: 10px 0;
  }

}

@media only screen and (min-width: 768px) {
  .card-solicitud {
    width: 350px;
    height: 650px;
  }

  .container-buttons {
    margin-top: 20px;
    padding: 7px 0;
  }
  
  
}



@media only screen and (min-width: 1024px) {
  .card-solicitud {
    width: 380px;
    height: 650px;
  }

  .container-buttons {
    margin-top: 20px;
    padding: 10px 0;
  }

}

@media only screen and (min-width: 1390px) {
  .card-solicitud {
    width: 410px;
    height: 650px;
  }
  .container-buttons {
    margin-top: 5px;
  }
}

@media only screen and (min-width: 1440px){
  textarea{  
  font-size: 27px;
  }
}